<mat-toolbar class="main-toolbar">
        <mat-toolbar-row>
            <span>Articles</span>
            <span class="example-spacer"></span>
            <div class="add-searchBtn" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2vw">
                <!--  <button mat-raised-button color="accent" (click)="onAdd()">Add</button> -->
                  <button mat-raised-button color="accent" (click)="onSearch()">Search</button></div>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="separator"></div>
      <mat-grid-list class="article-details" *ngFor="let article of articles || async" cols="4">
          <mat-grid-tile colspan="1" rowspan="1">
           <img src="{{ article.result.thumbnail_url }}"/>
          </mat-grid-tile>
           <mat-grid-tile colspan="1" rowspan="1">
              <div>
                  <h1>{{ article.result.category_name }}</h1>
                  <img src="{{ article.result.author_thumbnail_url }}"/>
                  <p>{{ article.result.author_firstname }} {{ article.result.author_lastname }}</p>  
              </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
              <div>
                  <h2>{{ article.result.title }}</h2>
                  <p>{{ article.result.post_date }}</p>
                  <p>{{ article.result.duration }}</p>
                   <p>{{ article.result.summary }}</p>
              </div>
          </mat-grid-tile>
          
      </mat-grid-list>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>

      <mat-table  [dataSource]="dataSource"  *ngFor="let article of articles || async"  class="table" matSort>
                
            <ng-container matColumnDef="thumbnail_url">
                <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>>
                <mat-cell *matCellDef="let article"> <img src="{{ article.result.thumbnail_url }}"/> </mat-cell>>
            </ng-container>
        
            <ng-container matColumnDef="category_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>>
                <mat-cell *matCellDef="let article"> {{ article.result.category_name }} </mat-cell>>
            </ng-container>
        
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>>
                <mat-cell *matCellDef="let article"> {{ article.result.title }} </mat-cell>>
            </ng-container>
                    
            <ng-container matColumnDef="author">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Author </mat-header-cell>>
                <mat-cell *matCellDef="let article" fxLayout="column">   <img src="{{ article.result.author_thumbnail_url }}"/> <p> {{ article.result.author_firstname }} {{ article.result.author_lastname }} </p></mat-cell>>
  
               
            </ng-container>
        
           

            <ng-container matColumnDef="post_date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Post Date </mat-header-cell>>
                <mat-cell *matCellDef="let article"> {{ article.result.post_date }} </mat-cell>>
            </ng-container>

            <ng-container matColumnDef="summary">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Excerpt </mat-header-cell>>
                <mat-cell *matCellDef="let article"> {{ article.result.summary }} </mat-cell>>
            </ng-container>
                
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>
            </mat-table>
        
            <mat-paginator [length]="length"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions" 
                        showFirstLastButtons>
            </mat-paginator>
        
      