
.example-spacer {
    flex: 1 1 auto;
}

.separator {
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 5px; 
    width: 150px; 
}

.article-details {
    margin-top: 50px;
    margin-bottom: 50px;   
}

.editBtn {
    display: flex;
    flex-flow: column wrap;
}


.author_thumbnail {
    width: 20px;
    height: 20px;
    border-radius: 5px 40px 5px;
    border: 3px solid blue;
}

.article_thumbnail {
    width: 30px;
    height: 30px;
    border-radius: 5px 40px 5px;
    border: 3px solid blue;
}

.article_image {
    width: 100px;
    height: 80px;
   
}